@import 'src/assets/styles/variables.scss';

header {
    padding: 15px 0px;
    background-color: $principal-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        margin-left: 20px;
        text-transform: uppercase;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
}


.logout-button {
    cursor: pointer;
    margin-right: 20px;
    background: none;
    border: none;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}