<main class="main-container">
    <article class="card-detail-container">
        <div class="card-detail-container__header">
            <button (click)="onClickBack()">
                <span class="material-symbols-outlined">
                arrow_back
                </span>
            </button>
        </div>
        <div class="card-detail-container__body">
            <div class="card-detail-container__img-container">
                <img 
                *ngIf="contact.imageUrl"
                [src]="contact.imageUrl" 
                alt="foto del contacto {{contact.firstName}}">
                <p class="contact-no-photo" *ngIf="!contact.imageUrl">
                    {{contact.firstName[0].toUpperCase()}}{{contact.lastName[0].toUpperCase()}}
                </p>
            </div>
            <div class="card-detail-container__info">
                <p class="name-text">{{contact.firstName}} {{contact.lastName}}</p>
                <p class="company-text">{{contact.company}}</p>
                <div class="contact-container">
                    <h5>Contacto</h5>
                    <div class="contact-text-container">
                        <p class="contact-text-container__text">{{contact.address}}</p>
                        <p class="contact-text-container__text">{{contact.email}}</p>
                        <p class="contact-text-container__text">{{contact.phoneNumber}}</p>
                    </div>
                </div>
            </div>
            <div class="card-detail-container__buttons">
                <button (click)="toggleShowEditModal()" >Editar</button>
                <button (click)="onDeleteUser()">Delete</button>
            </div>
        </div>
    </article>
    <form-modal-modal 
        *ngIf="showModal" 
        (cerrar)="toggleShowEditModal()" 
        [contact]="contact"></form-modal-modal>
</main>
