<main class="main-container">
    <spinner *ngIf="loading"></spinner>
    <article *ngIf="!loading" class="card-detail-container">
        <div class="card-detail-container__header">
            <button (click)="onClickBack()">
                <span class="material-symbols-outlined">
                arrow_back
                </span>
            </button>
        </div>
        <div class="card-detail-container__body">
            <div class="card-detail-container__img-container">
                <ng-container *ngIf="contact.image">
                    <img 
                    [src]="contact.image" 
                    alt="foto del contacto {{contact.name}}">
                </ng-container>
                <p class="contact-no-photo" *ngIf="!contact.image">
                    {{contact.name[0].toUpperCase()}}{{contact.lastName[0].toUpperCase()}}
                </p>
            </div>
            <div class="card-detail-container__info">
                <p class="name-text">{{contact.name}} {{contact.lastName}}</p>
                <p class="company-text">{{contact.company}}</p>
                <div class="contact-container">
                    <h5>Contacto</h5>
                    <div class="contact-text-container">
                        <p class="contact-text-container__text">{{contact.address}}</p>
                        <p class="contact-text-container__text">{{contact.email}}</p>
                        <p class="contact-text-container__text">{{contact.number}}</p>
                    </div>
                </div>
            </div>
            <div class="card-detail-container__buttons">
                <button (click)="toggleShowEditModal()" >Editar</button>
                <button (click)="onDeleteUser()">Delete</button>
            </div>
        </div>
    </article>
    <form-modal-modal 
        *ngIf="showModal" 
        (cerrar)="toggleShowEditModal()" 
        [contactToEdit]="contact"></form-modal-modal>
</main>
