<main class="main-container">
    <header class="header-wrapper">
        <h3 style="color: white;">Contactos</h3>
    </header>
    <article class="contacts-container">
        <ng-container *ngFor="let contact of contacts">
            <app-contact-card [contact]="contact"></app-contact-card>
        </ng-container>
        <ng-container *ngIf="!contacts.length">
            <p style="color: #fff; text-align: center;">No tienes ningún contacto</p>
        </ng-container>
        <div class="add-button">
            <button (click)="toggleDialog()">
                <span class="material-symbols-outlined">add</span>
            </button>
        </div>
    </article>

    <form-modal-modal *ngIf="showDialog" (cerrar)="toggleDialog()"></form-modal-modal>
</main>

<div *ngIf="showDialog" (click)="toggleDialog()" class="bg-modal"></div>