<main>
  <div class="form-wrapper">
    <header class="form-header">
      <h2>Login</h2>
    </header>
    <form #loginForm="ngForm" (submit)="submitLogin()">
      <div class="input-card">
        <label for="nombreDeUsuario">Nombre de Usuario</label>
        <input
          type="text"
          id="nombreDeUsuario"
          name="nombreDeUsuario"
          required
          #nombreDeUsuario="ngModel"
          ngModel
        />
        <div class="error-wrapper" *ngIf="loginForm.value.nombreDeUsuario == '' && loginForm.touched">
            <p class="error-text">El campo 'Nombre de Usuario' es requerido.</p>
        </div>
      </div>
      <div class="input-card">
        <label for="contrasenia">Contraseña</label>
        <input
          type="password"
          id="contrasenia"
          name="contrasenia"
          ngModel
          #contrasenia="ngModel"
          required
        />
        <div class="error-wrapper" *ngIf="loginForm.value.contrasenia == '' && contrasenia.touched">
            <p class="error-text">El campo 'Contraseña' es requerido.</p>
        </div>
      </div>
      <div class="button-wrapper">
        <button [disabled]="loginForm.status == 'INVALID'" type="submit" style="cursor: pointer;">Enviar</button>
      </div>
      <div class="register-text">
        <p>
          No poses una cuenta aún?
          <a routerLink="/register">Registrese ahora</a>
        </p>
      </div>
    </form>
  </div>
</main>
