<main>
    <div class="form-wrapper">
        <header class="form-header">
            <h2>Register</h2>
        </header>
        <form>
            <div class="input-card">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-card">
                <label for="repeatedPass">Nombre Completo</label>
                <input type="password" id="repeatedPass" name="repeatedPass" required>
            </div>
            <div class="input-card">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-card">
                <label for="password">Repetir Contraseña</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="button-wrapper">
                <button type="submit">Enviar</button>
            </div>
            <div class="register-text">
                <p>No poses una cuenta aún? <a routerLink="/register">Registrese ahora</a></p>
            </div>
        </form>
    </div>
</main>
