<main>
  <div class="form-wrapper">
    <header class="form-header">
      <h2>Registro</h2>
    </header>
    <form autocomplete="off" #registerForm="ngForm" (submit)="registerUser()">
      <div class="input-card">
        <label for="nombre">Nombre</label>
        <input #nombre="ngModel" ngModel type="text" name="nombre" required />
        <div
          class="error-wrapper"
          *ngIf="registerForm.value.nombre == '' && nombre.touched"
        >
          <p class="error-text">El campo 'Nombre' es requerido.</p>
        </div>
      </div>
      <div class="input-card">
        <label for="apellido">Apellido</label>
        <input #apellido="ngModel" ngModel type="text" name="apellido" required />
        <div
          class="error-wrapper"
          *ngIf="registerForm.value.apellido == '' && apellido.touched"
        >
          <p class="error-text">El campo 'Apellido' es requerido.</p>
        </div>
      </div>
      
      <div class="input-card">
        <label for="nombreDeUsuarioRegister">Nombre de Usuario</label>
        <input #nombreDeUsuario="ngModel" ngModel type="text" name="nombreDeUsuarioRegister" required />
        <div
          class="error-wrapper"
          *ngIf="registerForm.value.nombreDeUsuarioRegister == '' && nombreDeUsuario.touched"
        >
          <p class="error-text">El campo 'Nombre de Usuario' es requerido.</p>
        </div>
      </div>

      <div class="input-card">
        <label for="repeatedPass">Contraseña</label>
        <input #contrasenia="ngModel" ngModel type="password" name="contrasenia" required />
        <div
          class="error-wrapper"
          *ngIf="registerForm.value.contrasenia == '' && contrasenia.touched"
        >
          <p class="error-text">El campo 'Contraseña' es requerido.</p>
        </div>
      </div>
      <div class="button-wrapper">
        <button [disabled]="registerForm.status == 'INVALID'" type="submit">Enviar</button>
      </div>
      <a routerLink="/login">Volver</a>
    </form>
  </div>
</main>
