<div class="contact-card-wrapper" 
    (click)="onNavigateToContactDetail(contact.id)">
    <div class="contact-card-wrapper__card">
        <div class="contact-image">
            <img *ngIf="contact.image" [src]="contact.image" 
            alt="contact photo">
            <div *ngIf="!contact.image">
                <p class="contact-no-photo">
                    {{contact.name[0].toUpperCase()}}{{contact.lastName[0].toUpperCase()}}
                </p>
            </div>
        </div>
        <p>{{contact.name + " " + contact.lastName}}</p>
        <p>{{contact.address}}</p>
        <p>{{contact.email}}</p>
        <p *ngIf="contact.number">{{contact.number}}</p>
        <p>{{contact.company}}</p>
    </div>
</div>