<h3>Nuevo contacto</h3>
<form #form="ngForm" (ngSubmit)="agregarContacto()">
    <div class="input-container">
        <label for="">Nombre</label>
        <input type="text" [(ngModel)]="nuevoContacto.firstName" name="firstName" [(ngModel)]="nuevoContacto.firstName" name="nombre">
    </div>
    <div class="input-container">
        <label for="">Apellido</label>
        <input type="text" [(ngModel)]="nuevoContacto.lastName" name="lastName">
    </div>
    <div class="input-container">
        <label for="">Direccion</label>
        <input type="text" [(ngModel)]="nuevoContacto.address" name="address">
    </div>
    <div class="input-container">
        <label for="">Numero telefono</label>
        <input type="number" [(ngModel)]="nuevoContacto.phoneNumber" name="phoneNumber">
    </div>
    <div class="input-container">
        <label for="">Empresa</label>
        <input type="text" [(ngModel)]="nuevoContacto.company" name="company">
    </div>
    <div class="input-container">
        <label for="">Email</label>
        <input type="email" name="email" [(ngModel)]="nuevoContacto.email">
    </div>
    <div class="input-container input-container--last">
        <label for="">Foto</label>
        <input type="text" [(ngModel)]="nuevoContacto.imageUrl" name="imageUrl" id=""> 
    </div>
    <div class="add-contact-actions">
        <button class="button button--crear" type="submit">Crear</button>
        <button class="button button--cancelar" type="button" (click)="cerrar.emit()">Cancelar</button>
    </div>
</form>